.main-content {

  img {
    max-width: 100%;
    height: auto;
  }

  .featured {
    text-align: center;
    @include featured;
    text-transform: uppercase;
    margin: 30px -15px;
    border-bottom: 1px solid $red;
    padding-bottom: 30px;
    p {
      font-size: rem(28);
      line-height: rem(36);
      @include sm() {
        font-size: rem(22);
        line-height: rem(26);
      }
    }
  }
  .article {
    padding-bottom: 30px;
    a {
      text-decoration: underline;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-bottom: rem(16);
      @include base-font;
      li {
        padding-left: 13px;
        &:before {
          @include list-style;
          color: $red;
          margin-left: -13px;
        }
      }
    }
    h4 {
      color: $red;
      margin-bottom: 0;
      font-size: rem(18);
    }
    strong {
      font-weight: 500;
    }
    .col-12 {
      @include no-column(2, 30px);
      p {
        margin-top: 0;
      }
      @include sm {
        @include no-column(1, 0px);
      }
    }
  }

  .article-body {
    padding-bottom: 30px;
    a {
      text-decoration: underline;
    }
    .col-12 {
      @include no-column(2, 30px);
      ul {
        @include base-font;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          &:before {
            @include list-style;
          }
        }
      }
      h4 {
        margin-bottom: 0;
        font-size: rem(18);
      }
      strong {
        font-weight: 500;
      }
            @include sm {
        @include no-column(1, 0px);
      }
    }
  }

  .expertise {

    .expertise-heading {
      @include featured;
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 30px 0;

    }

    .expertise-column {
      h4 {
        line-height: rem(20);
      }
      ul {
        margin: 0;
        padding: 0;
        margin-bottom:25px;
        list-style-type: none;
        @include base-font;
        li {
          padding-left: 13px;
          &:before {
            @include list-style;
            margin-left: -13px;
          }
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .col-lg-2.expertise-column {
      flex: 0 0 20%;
      max-width: 20%;
      padding: 0;
      @include tablet {
        flex: 0 0 33.333333%!important;
        max-width: 33.333333%!important;
      }
      @include sm {
        flex: 0 0 50%!important;
        max-width: 50%!important;
      }
    }
  }
  .article-footer.comp {
    p {
      text-transform: none;
    }
  }
  .article-footer {
    text-align: center;
    border-top: 1px solid $red;
    padding: 30px 0;
    @include featured;
    text-transform: uppercase;
    p {
      margin-top: 20px;
      @include featured;
      text-transform: uppercase;
      a {
        text-decoration: underline;
      }
      strong {
        font-weight: 500;
      }
    }
  }
}
.main-content.1-column {
  .article {
    .col-12 {
      @include no-column(1, 0px);
    }
  }
}