.main-content {

  .featured {
    text-align: center;
    font-family:"Gotham";
    font-size: rem(28);
    text-transform: uppercase;
    margin: 30px -15px;
    border-bottom: 1px solid $red;
    padding-bottom: 30px;

    p {
      font-size: rem(28);
      line-height: rem(36);
    }
  }
  .article {
    .col-12 {
      @include no-column(2, 30px);
      p {
        margin-top: 0;
      }
    }
  }

  .article-body {
    .col-12 {
      @include no-column(2, 30px);
    }
  }

  .article-footer {
    text-align: center;
    border-top: 1px solid $red;
    padding: 30px 0;
    font-family:"Gotham";
    font-size: rem(28);
    text-transform: uppercase;
    p {
      margin-top: 20px;
      font-family:"Gotham";
      font-size: rem(28);
      text-transform: uppercase;
    }
  }
}