footer {

  .footer {
    background-color: $mainGrey;
    font-size: rem(12);
    font-family: "GothamBook";
    min-height: 55px;
    text-transform: uppercase;
    padding-top: 20px;

    .left {
      a {
        span {
          margin-right: 27px;
          color: $red;
          font-size: rem(20);
        }
      }
    }

    .menu-bottom-menu-container {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          list-style-type: none;
          display: inline-block;
          text-transform: uppercase;
          margin-right: 27px;
        }
      }
    }
  }
}
