footer {

  .footer {
    background-color: $mainGrey;
    font-size: rem(11);
    font-family: "GothamBook";
    text-transform: uppercase;
    padding: 20px 0;

    .left {
      padding-top: 2px;
      a {
        span {
          margin-right: 27px;
          color: $red;
          font-size: rem(18);
        }
        .fa {
          vertical-align: middle;
        }
      }
    }

    .menu-bottom-menu-container {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          list-style-type: none;
          display: inline-block;
          text-transform: uppercase;
          margin-right: 27px;
          &:last-of-type {
            &:after {
              font-family: FontAwesome;
              content: "\f02f";
              margin-left: 8px;
              color: $red;
              font-size: rem(18);
              vertical-align: middle;
            }
          } 
          a {
            font-weight: normal;
          }
        }
      }
    }
  }
}